.record-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.record-label {
  font-weight: bold;
  color: #333;
  text-align: center;
  width: 25%;
}

.record-content {
  color: #333;
  text-align: center;
  width: 25%;
}

.centered-input {
  width: 25%;
}

.flex-container {
  display: flex;
  justify-content: center;
  width: 25%;
}

.simple-header-container {
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.simple-header-container h5 {
  margin-top: 0.5rem;
}
