.records-container {
  display: flex;
}

.record-section {
  flex: 1;
}

.record-section.other-exercises-section {
  margin-left: 5px;
}

.record-display {
  /* Add styles for record-display here */
  margin-bottom: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
