.header-container {
  background-color: #fff; /* White background to match other components */
  color: #333; /* Dark text color for contrast */
  padding: 20px;
  margin: 10px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; /* Increased border radius to match other components */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Same shadow as other components */
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

.week-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distributes space evenly between the weeks */
  align-items: center; /* Centers the items vertically */
  margin-bottom: 1rem;
}

.week-label {
  flex: 1; /* Each week will take up an equal amount of space */
  display: flex;
  justify-content: center; /* Centers the inputs horizontally */
  text-align: center; /* Centers the labels */
  margin-top: 1rem;
  min-width: 180px;
}

.week-label label {
  font-size: 1.2rem;
}

.exercise-select-container {
  flex: 1; /* Each week will take up an equal amount of space */
  display: flex;
  justify-content: center; /* Centers the inputs horizontally */
  text-align: center; /* Centers the labels */
  min-width: 180px;
}

.exercise-inputs-container {
  flex: 1; /* Each week will take up an equal amount of space */
  display: flex;
  justify-content: center; /* Centers the inputs horizontally */
  text-align: center; /* Centers the labels */
  min-width: 180px;
}

.training-day-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.input {
  width: 45px;
  height: 25px;
  font-size: 14px;
  text-align: center;
  margin: 0 0.1rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.button-container button {
  min-width: 180px;
}

.training-phase-form {
  overflow-x: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.pf-record-display {
  margin-bottom: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
