.tcf-macrocycle-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Same shadow as other components */
  margin-bottom: 2px;
}

.tcf-select-group-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.tcf-select-group-container h4 {
  background-color: #fff; /* White background to match other components */
  color: #333; /* Dark text color for contrast */
  padding: 20px;
  margin: 10px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; /* Increased border radius to match other components */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Same shadow as other components */
  width: 80%;
  padding: 1rem;
}

.tcf-select-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.tcf-select-container .flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tcf-select-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.tcf-select-label {
  margin-right: 1rem;
}

.tcf-select-control {
  flex: 1;
  text-align: center;
}
