.tcf-macrocycle-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Same shadow as other components */
  margin-bottom: 2px;
}

.tcf-select-group-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Same shadow as other components */
  padding: 20px;
}

.tcf-select-group-container h4 {
  background-color: #fff; /* White background to match other components */
  color: #333; /* Dark text color for contrast */
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px; /* Increased border radius to match other components */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Same shadow as other components */
  padding: 1rem;
}

.tcf-select-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.tcf-select-container .flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tcf-select-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.tcf-select-group .form-control {
  width: 70%;
}

.tcf-select-label {
  margin-right: 1rem;
  width: 30%;
  text-align: right;
}

.tcf-select-control {
  flex: 1;
  text-align: center;
}

.tcf-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem; /* adjust as needed */
  margin-bottom: 2rem;
}

.tcf-button {
  min-width: 180px;
}
