/* DashboardPage.css */

form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

form label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

form input[type="text"] {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-top: 0.5em;
}

form button[type="submit"] {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard-button:hover {
  background-color: #0056b3;
}

.log-details {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.strength-records {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.strength-records p {
  margin: 0;
  padding: 5px 0;
}

.strength-records h3 {
  margin: 0;
  padding: 5px 0;
  font-weight: bold;
  text-decoration: underline;
}

.create-log {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-top: 20px;
}

.header-container {
  display: flex;
  align-items: center; /* This will vertically align the items in the middle */
  gap: 110px;
}
