/* TrainingLogs.css */
/* TrainingLogs.css */
.training-sessions-container {
  margin: 0 auto;
  padding: 20px;
  display: grid;
  gap: 20px; /* Space between grid items */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.header-container h3 {
  margin: 0; /* Remove default margins */
  font-weight: bold; /* Bold font to match other components */
  padding: 5px 0; /* Padding to match other components */
}

.header-container:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Slightly larger shadow on hover */
}

.training-session {
  border-radius: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.ex {
  border-top: 1px solid #000;
  padding: 10px 0;
  margin: 10px 0;
}

.set {
  margin-left: 20px;
}
