/* UserMeasurementForm.css */
.body-measurements-form {
    display: flex;
    flex-direction: column;
  }
  
  .measurement-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  
.body-measurements-form-button{
  margin-top: 1rem;
}