.user-details-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-details-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(201, 189, 189);
}

.body-measurements {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.body-measurements p {
  margin: 0;
  padding: 5px 0;
}

form {
  margin: 0;
  padding: 0;
}

.user-details-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.user-details-button:hover {
  background-color: #0056b3;
}

.user-details-panel {
  margin-left: 20px;
  margin-right: 20px;
}
