.strength-records-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.strength-records {
  padding: 10px;
  background-color: f0f0f0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.strength-records p {
  margin: 0;
  padding: 5px 0;
}

.strength-records h3 {
  margin: 0;
  padding: 5px 0;
  font-weight: bold;
  text-decoration: underline;
}
