/* DashboardMain.css */

.details-container {
  display: flex;
  gap: 5px;
}

.details-container > * {
  flex: 1; /*This will make each child of details-container take up an equal amount of space */
}

.centered-input {
  text-align: center;
}
