.field-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: flex-start;
  margin-bottom: 20px; /* Adjust as needed */
}

.exercise-set-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}