/* LogSelector.css */

.log-selector {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.log-selector select {
  padding: 4px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-left: 5px;
}
