/* LogSelector.css */

.log-selector {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  /* align-items: center; */
}

.log-selector select {
  padding: 4px;
  border-radius: 3px;
  border: 1px solid #ddd;
  width: 100%;
  overflow: hidden;
}
