.login-page-container {
  height: 120vh;
  background-image: url("../../components/HomePage/Assets/eagle.png");
  background-position: center bottom;
  background-size: 85%;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto; /* Center the container horizontally */
  width: 40%; /* Set the width directly */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* White background with 80% opacity */
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.login-button-container {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}
