body {
  /* background-color: #1f1f1f; */
  /* background-image: url("./images/12262.jpg");
  background-size: cover;
  background-position: center; */
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

.bg-containers {
  background-color: #fafafa;
}

.bg-page-header {
  background-color: #c4c0c0;
}

.bg-container-header h3 {
  background-color: #e6b7b7;
}
.bg-panel-header {
  background-color: #e6b7b7;
}

.bg-simple-header {
  background-color: #e6b7b7;
}
