.new-strength-record-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2px;
}

.new-strength-record-header {
  width: 100%;
}

.nsr-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.nsr-centered-input {
  text-align: center;
}

.nsr-fixed-width-submit-button{
  width: 27%;
}
