.tcf-parent-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tcf-select-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
}

.tcf-select-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.tcf-select-label {
  margin-right: 1rem;
}

.tcf-select-control {
  flex: 1;
  text-align: center;
}
