.tcf-macrocycle-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Same shadow as other components */
  margin-bottom: 2px;
}

.tcf-select-group-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Same shadow as other components */
  padding: 20px;
  margin-top: 1rem;
}

.tcf-select-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.tcf-select-container .tcf-flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tcf-select-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.tcf-select-group .form-control {
  width: 70%;
}

.tcf-select-label {
  margin-right: 1rem;
  width: 30%;
  text-align: right;
}

.tcf-select-control {
  flex: 1;
  text-align: center;
}

.tcf-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem; /* adjust as needed */
  margin-bottom: 2rem;
}

.tcf-phase-warning {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 18px;
  background-color: #ffd2d2; /* Light red background for more visibility */
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.tcf-info {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background-color: #d7d7d7; /* Light red background for more visibility */
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
}

.tcf-button {
  min-width: 180px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
